body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

h2 {
    color: #333;
}

#about, #certifications {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

.cert-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cert-item {
    background-color: #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
}

.cert-item a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
}

.cert-item a:hover {
    color: blue;
}

footer {
    background-color: #222;
    color: white;
    padding: 10px;
}

.cert-img {
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
}

.cert-grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
}